<!DOCTYPE html>
<html>
<head>
<title>微信设置</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-validator/css/bootstrap-validator.min.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../plugins/treegrid/jquery.treegrid.css">
    <link rel="stylesheet" href="../../plugins/iCheck/all.css">

</head>
<body>
<div id="rrapp" v-cloak class="content-wrapper wzl-content-wrapper">
    <section class="content-header">
        <h1>
			积分设置 &nbsp;<small v-if="title!=''">{{title}}</small>
        </h1>
    </section>
    <div v-show="!showList">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <form class="form-horizontal">
                           <div class="row">
								<div class="form-group">
									<div class="col-sm-2 control-label">appid</div>
									<div class="col-sm-8">
										<input type="text" class="form-control" v-model="config.appid" placeholder="小程序appid"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-sm-2 control-label">secret</div>
									<div class="col-sm-8">
										<input type="text" class="form-control" v-model="config.secret" placeholder="小程序secret"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-sm-2 control-label">商户号</div>
									<div class="col-sm-8">
										<input type="text" class="form-control" v-model="config.mchid" placeholder="商户号"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-sm-2 control-label">密钥</div>
									<div class="col-sm-8">
										<input type="text" class="form-control" v-model="config.mchkey" placeholder="密钥"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-sm-2 control-label">支付证书</div>
									<div class="col-sm-8">
										
									</div>
								</div>
							</div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-2 control-label"></div>
                                    <input type="button" class="btn btn-primary" @click="validate" value="确定"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<!--bootstrap-table-->
<script src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!--bootstrap-validator-->
<script src="../../plugins/bootstrap-validator/js/bootstrap-validator.min.js"></script>
<script src="../../plugins/bootstrap-validator/js/zh_CN.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../js/modules/sys/wechatsetting.js"></script>

<script>
</script>
</body>
</html>